.flowz{
  z-index:20000;
}

.ai-assistant-builder{
  height:30px;
  background-color:brandHeader;
  color:colorTextBrandPrimary;
}

.ai-assistant-container {
  display: none;
  position: fixed;
  top: var(--chat-top, 90px);
  left:var(--chat-left, auto);
  right: var(--chat-righ¨t, 0);
  bottom: var(--chat-bottom, 0);
  width: var(--chat-width, 30%);
  background-color: #f3f3f3;
  z-index: var(--chat-zindex, 500);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
  background-color: black;
  width: 9px;
  display: inline-block;
  padding: 10px auto;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.btn-container{
  padding:10px;
  display: inline-block;
}

.message-content button{
  /*padding:10px;*/
  display: inline-block;
}

.ai-assistant-header {
  background-color: var(--style-header-background, black);
  color: var(--style-header-color, #ffffff);
  font-weight: bold;
  padding: 10px;
  font-size: 1.1rem;
  border-bottom:2px solid #f3eeee;
  height:50px;
}

.ai-assistant-body {
  bottom: var(--assistant-body-bottom, 80px);
  top: var(--assistant-body-top, 50px); 
  overflow-y: auto;
  position: absolute; 
  width:100%;
  padding: 0px;
  font-size: 1rem;
  background-color: white;

}

.message {
  display: flex;
  align-self: center;
  margin-bottom: 0px;
  background-color: #F7F7F8;
  color: #333;
  padding: 16px 12px;
  word-wrap: break-word;
  width: 100%;
}

.ai-message {
  align-items: flex-start;
  background-color: #FFFFFF;
}

.user-message {
  align-items: flex-start;
  color: #333;
}

.message-content{
  align-self: center;
}


.ai-assistant-header-icon {
  height:40px;
  vertical-align: middle;
}

.message-input {
  padding: 20px;
  padding-left:5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  width:100%;
}

.ai-assistant-input{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  border-top: var(--message-input-border, 3px solid #f3eeee);
  padding: 10px; 
}

.close-button {
  background-color: transparent;
  border: none;
  color: var(--style-header-color, #ffffff);
  cursor: pointer;
  font-size: 1.5rem;
  float: right;
  line-height: 1;
  margin-left: auto;
  padding: 0;
}

.close-button:focus {
  outline: none;
}

.close-button-noheader{
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  float: right;
  line-height: 1;
  margin-left: auto;
  padding: 0;
}

.avatar {
  width: 30px;
  height: 30px;
  align-self: top;
  margin-right: 8px;
  text-align: center;
  margin: 0 10px;
  }

  .message-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}


.button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 3px;
}

.normal {
    background-color: #0070d2;
    color: #ffffff;
}

.message-content .message-buttons{
  padding:2px;
  margin-top:5px;
  width:100%;
}


.header-logo {
  background-color: transparent;
  border: none;
  float: left;
  line-height: 1;
  margin-left: auto;
  padding: 0;
}

.header-logo-img{
  height:32px;
  margin-right:10px;
  padding-bottom:5px;
}